<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Burger King</title>
  <link rel="stylesheet" href="/stylesheet/admin-style.css" />
</head>
<body>

  <header>
    <h1 style="text-align: center;">Manage Products</h1>
    <a href="/admin" class="back-home">← Back</a>
  </header>
<main>
  <div class="container">
    <div class="admin-links">
      <a href="/admin/product/add" class="admin-link">Add Product</a>
      <a href="/admin/product/view" class="admin-link">View Products</a>
    </div>
  </div>
</main>
  <footer class="footer">
    <div class="footer-content">
      <p>&copy; 2025 Burger King Admin Panel. All rights reserved.</p>
    </div>
  </footer>

</body>
</html>
